div {
	border: 1px solid black;
	font-family: 'Libre Baskerville', serif;
	text-align: center;
	
}

.container {
	margin-top: 100px;
}

.top-banner {
	overflow: hidden;
	padding-top: 35px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;

}

.top-banner .name-blog {
	float: center;
	display: block;
	text-align: center;
	font-size: 26px;
	font-weight: 700 !important;
	letter-spacing: 10px;
	display: inline-block;
	text-decoration:none !important;
	color: black !important;
	position: relative;
	left: 39px;

}

.top-banner .all-posts {
	float: left;
	display: block;
	font-size: 17px;
	font-weight: 700 !important;
	letter-spacing: 2px;
	display: inline-block;
	text-decoration:none !important;
	color: black !important;

}

.top-banner .book-stay {
	float: right;
	display: block;
	font-size: 17px;
	font-weight: 700 !important;
	letter-spacing: 2px;
	display: inline-block;
	text-decoration:none !important;
	color: black !important;
}
.top-banner .all-posts:hover {
	text-decoration: none !important;
	border-bottom: 3px solid black !important;
	display: inline-block;

}
.top-banner .book-stay:hover {
	text-decoration: none !important;
	border-bottom: 3px solid black !important;
	display: inline-block;

}

.text-country {
 	padding-top: 15px;
	padding-bottom: 10px;
 	font-family: 'Libre Baskerville', serif;
	font-size: 20px !important;
	text-align: center;
	font-weight: 700 !important;
	letter-spacing: 2px;
}

.text-country a{
	text-decoration: none !important;
	color: black !important;
}

.text-hotel {
	font-size: 14px;
	text-decoration:none !important;
	color: black !important;

 }
 .hotel-pics {
	height: 400px;
	width: 400px;
}

.row2 {
	/*margin-top: 5px;*/
}

 .bottom-nav {
 	bottom: 0;
 	width: 100%;
 	padding-top: 50px;
 	padding-bottom: 15px;
 }

 .bottom-nav .bottom-tabs {
 	font-size: 13px;
 	letter-spacing: 2px;
 	text-align: center;
 	display: inline-block;
 	float: center;
 	padding: 15px;
 	color: black !important;
 	text-decoration: none !important;
 }

 .bottom-nav .bottom-tabs:hover {
	text-decoration: none !important;
	border-bottom: 3px solid black !important;
	display: inline-block;

}

@media (max-width: 960px){

	.top-banner .all-posts{
		display: none;
	}

	.top-banner .book-stay{
		display: none;
	}

	}