div {
	border: 1px solid black;
	font-family: 'Libre Baskerville', serif;
	text-align: center;
}

.top-banner {
	overflow: hidden;
	padding-top: 35px;
	position: fixed;
	top: 0;
	width: 100%;

}

.top-banner .name-blog {
	float: center;
	display: block;
	text-align: center;
	font-size: 26px;
	font-weight: 700 !important;
	letter-spacing: 5px;
	display: inline-block;
	text-decoration:none !important;
	color: black !important;

}

.top-banner .all-posts {
	float: left;
	display: block;
	font-size: 17px;
	font-weight: 700 !important;
	letter-spacing: 2px;
	display: inline-block;
	text-decoration:none !important;
	color: black !important;
}

.top-banner .book-stay {
	float: right;
	display: block;
	font-size: 17px;
	font-weight: 700 !important;
	letter-spacing: 2px;
	display: inline-block;
	text-decoration:none !important;
	color: black !important;
}
.top-banner .all-posts:hover {
	text-decoration: none !important;
	border-bottom: 3px solid black !important;
	display: inline-block;

}
.top-banner .book-stay:hover {
	text-decoration: none !important;
	border-bottom: 3px solid black !important;
	display: inline-block;

}

.row {
	margin-top: 95px;
}

.hotel-pics{
	height: 500px;
	margin-bottom: 25px;
}


.contact-form {
	font-size: 15px;
	font-weight: 700 !important;
	margin-top: 100px;
	text-align: center;
	letter-spacing: 2px;
}

a {
	text-decoration-style: none !important;

}

 .bottom-nav {
 	bottom: 0;
 	width: 100%;
 	padding-top: 50px;
 	padding-bottom: 15px;
 }

 .bottom-nav .bottom-tabs {
 	font-size: 13px;
 	letter-spacing: 2px;
 	text-align: center;
 	display: inline-block;
 	float: center;
 	padding: 15px;
 	color: black !important;
 	text-decoration: none !important;
 }